<nav class="navbar navbar-expand-lg navbar-light mb-4" style="background-color: #ffc0cb;"> 
  <div class="container">
    <%= link_to "VetClinic 🐾", root_path, class: "navbar-brand fw-bold", style: "color: #d63384;" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><%= link_to "Owners", owners_path, class: "nav-link fw-semibold" %></li>
        <li class="nav-item"><%= link_to "Pets", pets_path, class: "nav-link fw-semibold" %></li>
        <li class="nav-item"><%= link_to "Vets", vets_path, class: "nav-link fw-semibold" %></li>
        <li class="nav-item"><%= link_to "Appointments", appointments_path, class: "nav-link fw-semibold" %></li>
      </ul>
    </div>
  </div>
</nav>